* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
}

.card {
  background-color: pink;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.nav{
  background-color: aqua;
  padding: 20px;
  margin: 5px;
}